{# This simple template derives from ``base.html``.
  See ``base.html`` for more information about template inheritance. #}
  {%- extends "base.html" %}

  {# Loads some of the macros included with Flask-Bootstrap.
    We are using the utils module here to automatically
render Flask's flashed messages in a bootstrap friendly manner #}

{% import "bootstrap/utils.html" as utils %}

{% block content %}
<div class="container">
  <h1>AP Political Headlines</h1>
  <div class="row">
    {% for item in politicsitems %}
      <div class="col-md-12"><b>Headline: </b>{{ item }}</div>
    {% endfor %}
  </div>
  <h1>AP National Headlines</h1>
  <div class="row">
    {% for item in nationalitems %}
    <div class="col-md-12"><b>Headline: </b>{{ item }}</div>
    {% endfor %}
  </div>
</div>

{% endblock %}
